<template>
    <b-card-footer>
        <b-container class="footer-container">
            &copy; 2018 <strong>PT Modal Rakyat Indonesia.</strong>&nbsp;
            Seluruh hak cipta dilindungi undang-undang.
        </b-container>
    </b-card-footer>
</template>
