<template>
    <b-navbar :class="{'navbar-transparent': scrollPosition < 100, 'navbar-white': scrollPosition > 100}" sticky> 
        <div class="container navbar-container">

            <b-navbar-brand href="https://www.modalrakyat.id" title="Modal Rakyat">
                <div :class="{'navbar-logo-transparent': scrollPosition < 100, 'navbar-logo': scrollPosition > 100}"/>
            </b-navbar-brand>

                <!-- Right aligned nav items -->
                <b-navbar-nav class="ml-auto">

                    <b-navbar-nav class="navbar-item">
                        <b-nav-item :class="{'nav-item-transparent-home': scrollPosition < 100, 'nav-item-styled-home': scrollPosition > 100}" href="https://www.modalrakyat.id">Home</b-nav-item>
                        <b-nav-item :class="{'nav-item-transparent-career mr-0': scrollPosition < 100, 'nav-item-styled-career mr-0': scrollPosition > 100}" href="https://www.modalrakyat.id/career">Career</b-nav-item>
                    </b-navbar-nav>

                <!-- <b-nav-form>
                    <b-form-input size="sm" class="mr-sm-2" type="text" placeholder="Search"/>
                    <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
                </b-nav-form> -->

                </b-navbar-nav>
        </div>
    </b-navbar>
</template>

<script>
export default {
  data()  {
    return  {
      scrollPosition: null
    }
  },
  mounted() {
    window.addEventListener('scroll', this.updateScroll);
  },
  methods:  { 
    updateScroll() {
      this.scrollPosition = window.scrollY
    }
  }
};
</script>
