  .post-title {
    font-weight: 500;
    font-size: 3.5rem;
    margin-bottom: 30px;
    @media screen and (max-width: 760px) {
      font-size: 2rem;
      margin-bottom: 10px;
    }
  }

  .post-content {
    // font-family: 'Merriweather', serif;
    font-size: 19px !important;
    font-weight: 400;
    padding-left: 100px;
    padding-right: 100px;
    @media screen and (max-width:760px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .share-button {
    padding-top: 7px;
    padding-bottom: 7px;
    width: 54px;
    text-align: center;
    border-radius: 3px;
    &:hover {
      cursor: pointer;
    }
    @media screen and (max-width: 767px) {
      margin-bottom: 20px;
    }
  }

  .share-button-group {
    margin-top: -43px;
    @media screen and (min-width: 576px) and (max-width: 767px) {
      margin-top: -5px;
      margin-bottom: -10px;
      margin-right: 100px;
    }
    @media screen and (min-width: 531px) and (max-width: 575px) {
      margin-top: -5px;
      margin-bottom: -10px;
      margin-right: 100px;
    }
    @media screen and (min-width: 495px) and (max-width: 530px) {
      margin-top: -5px;
      margin-bottom: -10px;
      margin-right: 90px;
    }
    @media screen and (min-width: 460px) and (max-width: 494px) {
      margin-top: -5px;
      margin-bottom: -10px;
      margin-right: 80px;
    }
    @media screen and (min-width: 425px) and (max-width: 459px) {
      margin-top: -5px;
      margin-bottom: -10px;
      margin-right: 60px;
    }
    @media screen and (min-width: 390px) and (max-width: 424px) {
      margin-top: -5px;
      margin-bottom: -10px;
      margin-right: 40px;
    }
    @media screen and (min-width: 355px) and (max-width: 389px) {
      margin-top: -5px;
      margin-bottom: -10px;
      margin-right: 20px;
    }
    @media screen and (min-width: 343px) and (max-width: 354px) {
      margin-top: -5px;
      margin-bottom: -10px;
      margin-right: 10px;
    }
    @media screen and (max-width: 342px) {
      margin-top: 0px;
    }
    @media screen and (width: 320px) {
      margin-left: -10px;
      margin-right: -10px;
    }
  }

  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
    font-size: 20px !important;
  }

  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
    font-size: 20px !important;
  }

  .fa-linkedin-square  {
    background: #007bb5;
    color: white;
    font-size: 20px !important;
  }

  .line-button  {
    // background: #00c300;
    padding: 0px;
    margin-top: -5px;
    @media screen and (max-width: 767px) {
      margin-top: 15px;
    }
  }

  .fa-whatsapp  {
    background: #26D367;
    color: white;
    font-size: 20px !important;
  }