.card-footer   {
    height: 53px;
    background-color: #1c8cef;
    vertical-align: center;
    .footer-container   {
        color: white;
        font-size: 14.5px;
        text-align: center;
        margin-top: 5px;
        min-width: 1230px;
        @media screen and (min-width: 525px) and (max-width: 1245px) {
            min-width: 0px !important;
            margin-top: 7px;
            font-size: 12px !important;
        }
        @media screen and (min-width: 0px) and (max-width: 526px) {
            min-width: 0px !important;
            margin-top: -4px;
            font-size: 12px !important;
        }
    }
}