@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

  .background {
    background-color: #f6f7fa !important;
    height: 100%;
  }

  .home-container {
    font-family: 'Open Sans', sans-serif;
    color: #343434;
    overflow: hidden;
    width: 960px;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #efefef;
    box-shadow: 0 0 1px 0 rgba(115, 115, 115, 0.5);
    margin-top: 25px;
    margin-bottom: 25px;
    @media screen and (max-width: 1024px) {
      width: 100%;
    }
  }

  .blog-jumbotron {
    // font-family: 'Amiri', serif;
    background-image: url(~/static/blog-jumbotron.jpeg);
    background-size: cover;
    background-position-y: 60%;
    position: relative;
    z-index: 0;
    // width: 50%;
    height: 500px;
    margin-top: -85px;
    margin-bottom: 0px;
    @media screen and (max-width: 767px) {
      background-position-x: 50%;
    }
    .display-3  {
      margin-top: 200px;
      font-weight: 400;
      line-height: 1;
      &:before{
        content: '';
        opacity: 0.8;
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(133deg, #9eeeff, #024497);
        z-index: -1;
        display: block;
        top: 0;
        left: 0;
      }
      @media screen and (min-width: 576px) and (max-width: 767px)  {
        margin-top: 100px;
      }
      @media screen and (min-width: 452px) and (max-width: 575px)  {
        margin-top: 130px;
      }
      @media screen and (min-width: 355px) and (max-width: 451px)  {
        margin-top: 60px;
      }
      @media screen and (min-width: 0px) and (max-width: 356px)  {
        margin-top: 55px;
      }
    }
  }

  .jumbottron-description-1 {
    line-height: 1;
  }

  .jumbotron-description-2  {
    font-size: 18px;
    font-weight: 600;
  }

  .button-jumbotron {
    background: #ffac23;
    border: 1px solid #ffac23;
      &:hover {
        background: #ffac23;
        border: 1px solid #ffac23;
      }
  }

  .post-card {
    border: none;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    @media screen and (max-width: 991px) {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  .sidebar-card {
    border: none;
  }
  .sidebar-header {
    border-bottom-style: solid;
    border-color: #1c8cef;
    border-width: 2px;
    background-color: transparent;
    padding-top: 0px;
  }
  .sidebar-tags {
    margin-top: -30px !important;
  }
  .sidebar-artikel-populer  {
    margin-bottom: 0px !important;
  }

  .card-image {
    width: 310px;
    @media screen and (width: 320px) {
      width: 290px;
    }
    @media screen and (width: 360px) {
      width: 330px;
    }
    @media screen and (width: 375px) {
      width: 340px;
    }
    @media screen and (width: 411px) {
      width: 380px;
    }
    @media screen and (width: 414px) {
      width: 380px;
    }
    @media screen and (min-width: 415px) and (max-width: 575px) {
      // width: 540px;
    }
    @media screen and (min-width: 576px) and (max-width: 767px) {
      width: 510px;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      width: 685px;
    }
  }
  .card-title {
    color: #333333;
    margin-bottom: 0px;
    font-weight: 700;
    font-size: 20px;
    &:hover {
      text-decoration: none;
      color: #08f
    }
    @media screen and (max-width: 991px) {
      padding-top: 10px
    }
  }
  
  .card-date  {
    margin-bottom: 0px;
    margin-top: 10px;
    font-size: 12px;
    color: gray;
    font-weight: 400;
  }
  .card-text  {
    padding-top: 10px;
    line-height: 25px;
    // text-align: justify;
    // color:  gray;
    font-weight: 500;
    @media screen and (max-width: 1199px) {
      padding-top: 10px
    }
    // max-height: 60px;
    // white-space:  wrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
  }
  .baca-selengkapnya  {
    color: #1c8cef;
    font-size: 15px;
    font-weight: bold;
    @media screen and (max-width: 500px) {
      .fa-arrow-right {
        display: none;
      }
    }
  }
  .baca-selengkapnya:hover  {
    color: #1c8cef;
    text-decoration: none;
  }
  .fa-arrow-right {
    font-size: 20px;
  }
  .card-block {
    min-height: 135px;
  }
  .sidebar-header {
    padding-left: 0px;
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
  }
  .artikel-populer  {
    margin-top: -15px;
    padding-left: 0px;
    line-height: 20px;
  }
  .artikel-populer-list {
    color: black;
  }
  .fa-calendar-o  {
    vertical-align: 1px
  }
  .tags  {
    font-size: 13px;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color: #d3d3d3;
    padding: 1px;
    &:hover{
      text-decoration: none;
    }
  }
  .tags-font  {
    color: #1c8cef;
    &:hover{
      text-decoration: none;
      color: #1c8cef;
    }
  }

  // BAGIAN POSTS

  
  