.navbar-transparent {
    font-family: 'Open Sans', sans-serif;
    background-color: transparent;
    transition: 0.2s;
    height: 81px;
    @media screen and (max-width: 1024px) {
        height: 56px;
    }
    .nav-link    {
        color: white !important;
        font-size: 16px;
        margin-top: 6px;
    }
}

.navbar-logo-transparent    {
    background: url(~/static/logo_white.svg);
    outline-color: transparent;
    border-image-width: 0px;
    background-size: 170px 40px;
    width: 170px;
    height: 40px;
    border: none;
    margin-right: 2rem;
    @media screen and (max-width: 767px) {
        background-size: 125px 40px;
        width: 125px !important;
        height: 40px;
    }
    @media screen and (max-width: 355px) {
        margin-right: 0px
    }
}

.navbar-white {
    font-family: 'Open Sans', sans-serif;
    background-color: white !important;
    box-shadow: 0 0 4px 0 rgba(115, 115, 115, 0.5);
    transition: 0.2s;
    height: 81px;
    @media screen and (max-width: 1024px) {
        height: 56px;
    }
    .nav-link    {
        // color: #343434 !important;
        font-size: 16px;
        margin-top: 6px;
    }
}
.navbar-logo    {
    background: url(~/static/logo_colored.svg);
    outline-color: transparent;
    border-image-width: 0px;
    background-size: 170px 40px;
    width: 170px;
    height: 40px;
    border: none;
    margin-right: 2rem;
    @media screen and (max-width: 767px) {
        background-size: 125px 40px;
        width: 125px !important;
        height: 40px;
    }
    @media screen and (max-width: 355px) {
        margin-right: 0px
    }
}

.nav-item-transparent-home  {
    width: 150px;
    height: 52px;
    text-align: center;
    vertical-align: center;
    margin-top: 3px;
    margin-right: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    @media screen and (max-width: 355px) {
        border: none;
        width: 45px;
    }
    @media screen and (min-width: 356px) and (max-width: 767px) {
        border: none;
        width: 50px;
    }
}


.nav-item-styled-home  {
    width: 150px;
    height: 52px;
    text-align: center;
    vertical-align: center;
    margin-top: 3px;
    margin-right: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    .nav-link   {
        color: black !important;
    }
    @media screen and (max-width: 355px) {
        border: none;
        width: 45px;
    }
    @media screen and (min-width: 356px) and (max-width: 767px) {
        border: none;
        width: 50px;
    }
}

.nav-item-transparent-career  {
    width: 150px;
    height: 52px;
    text-align: center;
    vertical-align: center;
    margin-top: 3px;
    margin-right: 8px;
    background: #ffac23;
    border: 1px solid #ffac23;
    @media screen and (max-width: 355px) {
        background: none;
        border: none;
        width: 45px;
    }
    @media screen and (min-width: 356px) and (max-width: 767px) {
        background: none;
        border: none;
        width: 50px;
    }
}


.nav-item-styled-career  {
    color: white !important;
    width: 150px;
    height: 52px;
    text-align: center;
    vertical-align: center;
    margin-top: 3px;
    margin-right: 8px;
    background: #ffac23;
    border: 1px solid #ffac23;
    .nav-link   {
        color: white !important;
    }
    @media screen and (max-width: 355px) {
        .nav-link   {
            color: black !important;
        }
        background: none;
        border: none;
        width: 45px;
    }
    @media screen and (min-width: 356px) and (max-width: 767px) {
        .nav-link   {
            color: black !important;
        }
        background: none;
        border: none;
        width: 50px;
    }
}

.navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}

.navbar-container   {
    min-width: 1230px;
    @media screen and (max-width: 1245px) {
        min-width: 0px !important;
      }
    margin-top: -5px;
}
