<template>
    <section class="container home-container">
        <div class="row">

            <!-- Post Content Column -->
            <div class="col-lg-12 pr-0 pl-0">

            <!-- Title -->
            <h1 class="mt-4 pr-3 pl-3 post-title">{{results.data.detail.title}}</h1>

            <!-- Author -->
            <!-- <p class="lead">
                by
                <a href="#">Start Bootstrap</a>
            </p> -->

            <!-- <hr> -->

            <!-- Date/Time -->
            <p class="pr-3 pl-3">{{results.data.detail.date}}</p>
            <social-sharing :url="link"
                    :title="results.data.detail.title"
                    :description="results.data.detail.summary"
                    inline-template>
                <div class="share-button-group float-right pr-3 pl-3">
                    <network network="facebook">
                        <i class="fa fa-facebook share-button mr-2"></i>
                    </network>
                    <network network="twitter">
                        <i class="fa fa-twitter share-button mr-2"></i>
                    </network>
                    <network network="linkedin">
                        <i class="fa fa-linkedin-square share-button mr-2"></i>
                    </network>
                    <network network="line">
                        <img src="~/static/Line-icon.svg" class="line-button share-button mr-2"/>
                    </network>
                    <network network="whatsapp">
                        <i class="fa fa-whatsapp share-button"></i>
                    </network>
                </div>
            </social-sharing>

            <!-- <hr> -->

            <!-- Preview Image -->
            <img class="img-fluid mt-2 mb-5" :src="results.data.detail.image" :alt="results.data.detail.title" :title="results.data.detail.title">

            <!-- <hr> -->

            <!-- Post Content -->
            <div class="post-content">
                <!-- <p class="lead">Sampai saat ini investasi bodong masih menjadi momok yang menakutkan bagi para calon nasabah, moment ini seringkali dimanfaatkan oleh pihak yang tidak bertanggung jawab.</p> -->
                <p>
                    <span v-html="results.data.detail.content"> </span>
                </p>
                

                <!-- <p>Jika dilihat dari pola bermainnya, investasi bodong ini bukanlah hal yang baru, melainkan trik lama yang dimanipulasi ulang dengan kasus serupa setiap tahunnya. Semua hal tersebut sangat disayangkan, mengingat pemerintah telah memberikan peringatan berkali-kali mengenai kerugian yang akan timbul jika berinvestasi di perusahaan bodong tersebut.</p>
                
                <p>Lalu gimana sih cara menghindari semua kerugian tersebut? Tenang aja Sob, kita akan paparkan 5 trik ampuh menghindari investasi bodong dibawah ini ya.</p>

                <p class="italic">Check this out!</p>
                <blockquote class="blockquote">
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer class="blockquote-footer">Someone famous in
                    <cite title="Source Title">Source Title</cite>
                    </footer>
                </blockquote>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, nostrum, aliquid, animi, ut quas placeat totam sunt tempora commodi nihil ullam alias modi dicta saepe minima ab quo voluptatem obcaecati?</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dolor quis. Sunt, ut, explicabo, aliquam tenetur ratione tempore quidem voluptates cupiditate voluptas illo saepe quaerat numquam recusandae? Qui, necessitatibus, est!</p> -->
            </div>

            <hr>
            
            <!-- FACEBOOK COMMENT -->
            <div id="fb-root"></div>
            <div class="fb-comments" :data-href="link" data-width="100%" data-numposts="10" data-colorscheme="light"></div>

            <!-- Artikel Populer -->
            <div class="col-md-12 sidebar">
                <div class="card sidebar-card sidebar-artikel-populer my-4">
                    <h5 class="card-header sidebar-header pb-3">Artikel Populer</h5>
                    <div class="card-body">
                        <ul class="artikel-populer">
                        <li class="pt-3" v-for="indexPopular in popular.data" :key="indexPopular.id"><nuxt-link class="artikel-populer-list" :to="{ path: encodeURI(indexPopular.uri) }" :title="indexPopular.title">{{ indexPopular.title }}</nuxt-link></li>
                        </ul>
                    </div>
                </div>

            </div>
            

            </div>

            <!-- Sidebar Widgets Column -->
            <!-- <div class="col-md-4"> -->

            <!-- Search Widget -->
            <!-- <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button">Go!</button>
                    </span>
                </div>
                </div>
            </div> -->

            <!-- Categories Widget -->
            <!-- <div class="card my-4">
                <h5 class="card-header">Categories</h5>
                <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">
                        <li>
                        <a href="#">Web Design</a>
                        </li>
                        <li>
                        <a href="#">HTML</a>
                        </li>
                        <li>
                        <a href="#">Freebies</a>
                        </li>
                    </ul>
                    </div>
                    <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">
                        <li>
                        <a href="#">JavaScript</a>
                        </li>
                        <li>
                        <a href="#">CSS</a>
                        </li>
                        <li>
                        <a href="#">Tutorials</a>
                        </li>
                    </ul>
                    </div>
                </div>
                </div>
            </div> -->

            <!-- Side Widget -->
            <!-- <div class="card my-4">
                <h5 class="card-header">Side Widget</h5>
                <div class="card-body">
                You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
                </div>
            </div>

            </div> -->
      </div>
    </section>
</template>

<script>
import axios from 'axios';
import Api from '../../utils/api'

export default {
  layout: 'index',
  head(){
      return{
          meta: [
              { hid: 'ogTitle', name: 'og:title', content: `${this.results.data.detail.title}` },
              { hid: 'ogType', name: 'og:type', content: "blog" },
              { hid: 'ogUrl', name: 'og:url', content: "https://www.modalrakyat.id/blog" },
              { hid: 'ogImage', name: 'og:image', content: `${this.results.data.detail.image}` },
              { hid: 'ogSiteName', name: 'og:site_name', content: "Modal Rakyat Blog" },
              { hid: 'ogDescription', name: 'og:description', content: `${this.results.data.detail.summary}` },
              { hid: 'fbPage', name: 'fb:page_id', content: "173332989926056" },
          ]
      }
  },
  components: {
    
  },
  data()  {
    return  {
      results:  {
        data: {
            detail: {
                image: '',
                author: '',
                date: '',
                title: '',
                content: '',
                summary: ''
            },
            tag:    {
                name:''
            }
        }
      },
      popular:  {
        data: []
      },
      uri: this.$route.params.uri,
      link: `https://modalrakyat.id/blog/${this.$route.params.uri}`
    }
  },
  mounted() {
      this.getPostByUri(this.uri);
      this.getPopular();
      this.$initFbSDK();
  },
  methods:  {
    async getPostByUri(uri){
        await Api.getPostByUri(uri).then(({data}) => {
            this.results = data
        }).catch((error) => {
            this.error = error.response.data.message;
            this.$router.push('/')
        })
    },
    async getPopular(){
      await Api.getPopular(this.popular).then((response) => {
        this.popular = response.data;
      }).catch((error) => {
        this.error = error.respose.data.message;
      })
    }
  }
};
</script>