<template>
  <div>
    <b-jumbotron class="blog-jumbotron" text-variant="white">
      <div class="container">
        <h1 class="display-3">Modal Rakyat Blog</h1>
        <p class="jumbotron-description-1">Kami akan menyampaikan ide investasi terbaik ke halaman Anda.</p>
        <p class="jumbotron-description-2">Untuk memulai pendanaan dan peminjaman</p>
        <b-btn class="button-jumbotron" href="https://www.modalrakyat.id" title="Modal Rakyat">Klik disini</b-btn>
      </div>
      
    </b-jumbotron>
    <section class="container home-container">
        <!-- <h1 class="mt-4 mb-4 blog-title">Blog</h1> -->
        <div class="row">
          <!-- Blog Entries Column -->
          <div class="col-md-12 content">

            <div v-for="index in results.data.data" :key="index.id">
              <div class="post-card">
                <div class="row">
                    <div class="col-auto">
                        <nuxt-link :to="{ path: encodeURI(index.uri) }" :title="index.title"><img class="card-image" :src="index.image" :alt="index.title" :title="index.title"></nuxt-link>
                    </div>
                    <div class="col">
                        <div class="card-block">
                            <nuxt-link class="card-title" :to="{ path: encodeURI(index.uri) }" :title="index.title">{{ index.title }}</nuxt-link>
                            <p class="card-date"><i class="fa fa-calendar-o pr-1" aria-hidden="true"></i>{{ index.date }}</p>
                            <p class="card-text mb-1">{{ index.summary }}</p>
                        </div>
                    </div>
                </div>
              </div>
            </div>

            <!-- Pagination -->
            <!-- <ul class="pagination justify-content-center mb-4">
              <li class="page-item">
                <a class="page-link" href="#">&larr; Older</a>
              </li>
              <li class="page-item disabled">
                <a class="page-link" href="#">Newer &rarr;</a>
              </li>
            </ul> -->

          </div>

          <!-- Sidebar Widgets Column -->
          <div class="col-md-12 sidebar">

            <!-- Artikel Populer -->
            <div class="card sidebar-card sidebar-artikel-populer my-4">
              <h5 class="card-header sidebar-header pb-3">Artikel Populer</h5>
              <div class="card-body">
                <ul class="artikel-populer">
                  <li class="pt-3" v-for="indexPopular in popular.data" :key="indexPopular.id"><nuxt-link class="artikel-populer-list" :to="{ path: encodeURI(indexPopular.uri) }" :title="indexPopular.title">{{ indexPopular.title }}</nuxt-link></li>
                </ul>
              </div>
            </div>

          </div>

            <!-- Tags -->
            <!-- <div class="card sidebar-card sidebar-tags my-4">
              <h5 class="card-header sidebar-header pb-3">Tags</h5>
              <div class="card-body pt-2">
                <div class="row">
                  <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">
                      <li class="tags text-center mt-3">
                        <a class="tags-font" href="#">Teknologi</a>
                      </li>
                      <li class="tags text-center mt-3">
                        <a class="tags-font" href="#">Investasi</a>
                      </li>
                      <li class="tags text-center mt-3">
                        <a class="tags-font" href="#">Science</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">
                      <li class="tags text-center mt-3">
                        <a class="tags-font" href="#">Informaton</a>
                      </li>
                      <li class="tags text-center mt-3">
                        <a class="tags-font" href="#">Pinjaman</a>
                      </li>
                      <li class="tags text-center mt-3">
                        <a class="tags-font" href="#">Tutorials</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div> -->

          <!-- </div> -->

        </div>
    </section>
  </div>
</template>

<script>
import axios from 'axios';
import Api from '..//utils/api'

export default {
  // layout: ''
  components: {

  },
  data()  {
    return  {
      results:  {
        data: []
      },
      popular:  {
        data: []
      }
    }
  },
  mounted() {
    this.getPostList();
    this.getPopular();
  },
  methods:  { 
    async getPostList(){
      await Api.getPostList(this.data).then((response) => {
        this.results = response.data;
      }).catch((error) => {
        this.error = error.response.data.message;
        this.$router.push('/')
      })
    },

    async getPopular(){
      await Api.getPopular(this.popular).then((response) => {
        this.popular = response.data;
      }).catch((error) => {
        this.error = error.respose.data.message;
      })
    }
  }
};
</script>